<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bakatrouble.ifmo_timetable">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".TimetableActivity"
            android:label="@string/title_activity_timetable"
            android:configChanges="orientation|screenSize"
            android:theme="@style/TimetableTheme">

            <intent-filter>

                <action android:name="android.intent.action.TimetableActivity" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

    </application>

</manifest>
